<h1>Editing payable</h1>

<%= render :partial => "templates/entity/edit_form", :locals =>{ :data_src=>@payable, :form_sub_item=> "payable_sub_form_item"} %>

<%= link_to 'Show', @payable %> |
<%= link_to 'Back', payables_path %>