<h1>New inventory</h1>

<%= render :partial => "templates/entity/create_form", :locals =>{ :data_src=>@inventory, :form_sub_item=> "inventory_sub_form_item"} %>

<%= link_to 'Back', inventories_path %>