<h1>Editing goods_cost</h1>

<%= render :partial => "templates/entity/edit_form", :locals =>{ :data_src=>@goods_cost, :form_sub_item=>nil } %>

<%= link_to 'Show', @goods_cost %> |
<%= link_to 'Back', goods_costs_path %>