body { background-color: #fff; color: #333; }


/*table { 
  background-color: #fafafa;
  border: 1px #000000 solid;
  border-collapse: collapse;
  border-spacing: 0px; 
}


th { 
  width: 88px;  
  background-color: #99CCCC;
  border: 1px #000000 solid;
  font-family: Verdana;
  font-weight: bold;
  font-size: 12px;
  color: #404040; 
}*/

table
{
border-collapse:collapse;
}
td, th 
{
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
th 
{
width: 85px;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
}
tr.alt
{
color:#000000;
background-color:#EAF2D3;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


