<h1>BALANCE SHEET</h1>

<table>
  
  <tr>
    <td>ASSETS</td>
    <td></td>
  </tr>

  <tr>
    <td>CURRENT ASSETS</td>
    <td></td>
  </tr>

  <tr>
    <td>Cash and cash equivalents</td>
    <td><%=f @bal_sht.cash_equivalents %></td>
  </tr>

  
</table>

<br />
