<h1>Editing deposit</h1>

<%= render :partial => "templates/entity/edit_form", :locals =>{ :data_src=>@deposit, :form_sub_item=> "deposit_sub_form_item"} %>

<%= link_to 'Show', @deposit %> |
<%= link_to 'Back', deposits_path %>