<h1>Editing receivable</h1>

<%= render :partial => "templates/entity/edit_form", :locals =>{ :data_src=>@receivable, :form_sub_item=> "receivable_sub_form_item"} %>

<%= link_to 'Show', @receivable %> |
<%= link_to 'Back', receivables_path %>